.header {
    margin-left: -7px;
    margin-top : -7px;
    .header1 {
        background-color: red;
        width: 100%;
        height: 80px;
        margin-top: -7px;
        img {
            width: 142px;
            height: 78px;
            margin-top:2px ;
        }
    }
}